@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"),
    url("..fonts/Gotham-Font/Gotham-Font/GothamBold.ttf") format("truetype");
}
@font-face {
  font-family: "GothamBook";
  src: local("GothamBook"),
    url("..fonts/Gotham-Font/Gotham-Font/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham-Medium";
  src: local("Gotham-Medium"),
    url("..fonts/Gotham-Font/Gotham-Font/GothamMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham-Thin";
  src: local("Gotham-Thin"),
    url("..fonts/Gotham-Font/Gotham-Font/Gotham-Thin.otf") format("truetype");
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */
}

body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.admin-layout{
  background-color: rgb(28, 27, 27);
}

.sidebar{
  /* background-color: rgb(11, 16, 64); */
}
#line-bar {
  width: 0;
  height: 3px;
  background-color: rgb(251, 114, 251);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: width 0.3s ease; /* Add transition for smooth width change */
}

button.awssld__next, button.awssld__prev{
  visibility: hidden;
}
.awssld__timer, .awssld__timer--run{
  visibility: hidden;
}

.awssld__control{
  visibility: hidden;
}

.awssld__bullets{
  visibility: hidden;
}
.pre-load {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100vw;
  height: 100vh;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-load video {
  /* width: 80%;
  height: 60%; */
  object-fit: cover;
}

.personal-animate{
  animation: sidebar-animate 0.3s linear;
}

.menu-container{
  background-color: rgba(24, 23, 43, 0.565);
}

.menu-inner-container{
  background-color: rgb(24, 23, 43);
}


input[type="date"]::-webkit-calendar-picker-indicator{
  content: url(https://img.icons8.com/color/344/calendar--v2.png);
  font-size: 25px;
}
input[type="time"]::-webkit-calendar-picker-indicator{
  font-size: 25px;
}
input[type='date']:before{
  content: attr(placeholder);
}
input::-webkit-datetime-edit{
  display: none;
}

.loader{
  height: 200px;
  width: 200px;
  border: 18px solid rgb(244, 242, 242);
  border-radius: 50%;
  border-top: rgb(248, 169, 248) solid 18px;
  animation: loading 1s linear infinite;
}


@keyframes left-pre-load {
  0%{
    width: 40px;
    position: absolute;
    height: 30px;
  }25%{
    width: 25%;
    position: relative;
    height: 30%;
  }50%{
    width: 50%;
    position: relative;
    height: 100%;
  }75%{
    width: 75%;
    height: 200%;
    position: relative;
  }100%{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}
@keyframes right-pre-load {
  0%{
    width: 40px;
    height: 100%;
  }25%{
    width: 25%;
    height: 100%;
  }50%{
    width: 50%;
    height: 100%;
  }75%{
    width: 75%;
    height: 200%;
  }100%{
    width: 30px;
    height: 30px;
  }
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

@keyframes sidebar-animate {
  0%{
      transform: translateX(-100%) rotate(5deg);
  }100%{
      transform: translateX(0%) rotate(-5deg);
  }
}